.account--header {
    margin-top: 8%;
    color: #ffffff;
    margin-left: 2%;
    line-height: 46px;
    font-size: 30px;
}
@media (max-width: 768px) {
    .account--header {
        margin-top: 22%;
        width: 100%;
        font-size: 22px;
    }
}