
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', sans-serif;
}
hr {
    margin: 0;
}

.container {
    width: 100%;
}
.signUpPage--image {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 61px);
}
.signUpPage--header {
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: bold;
}
.signUpPage--form {
    height: calc(100vh - 61px);
    display: flex;
    flex-direction: column;
    align-items: center;
    /*justify-content: center;*/
}
.signUpPage--inputs {
    width: 320px;
}
.signUpPage--input {
    margin: 7px;
}
.signUp--button {
    background-color: #339966;
    border-radius: 0;
    font-size: 20px;
    margin-top: 30px;
    border: none;
}
.signUp--button:hover {
    background-color: #26734d;
}
.btn[disabled]:hover {
    background-color: #79d2a6;
}
.signUp--checkbox {
    display: flex;
    align-items: baseline;
}
input[type=checkbox] {
    transform: scale(1.1);
}