.landingPage {
    width: 100%;
    min-height: 100vh;
    background-color:  #99ddff;
    color: white;
    margin: 0;
}
.landingPage--text {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.landingPage--text__header {
   text-align: center;
    font-size: 60px;
    font-weight: bolder;
    text-transform: uppercase;
}
.landingPage--text__para {
    font-size: 40px;
    margin-top: 8%;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
}
.landingPage--icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    position: fixed;
    left: 2%;
}
.landingPage--icons a {
    margin-top: 100%;
}
.landingPage--image {
    max-width: 100%;
    display: block;
    margin-top: 16%;
}

@media (max-width:973px) {
    .landingPage--image {
        margin-top: 0;
    }
    .landingPage--text {
        height: 90vh;
    }
    .landingPage--text__header {
        font-size: 50px;
    }
}

@media (min-height: 1366px) {
    .landingPage {
        min-height: 0;
    }
    .landingPage--text {
        height: 45vh;
    }
    .landingPage--image {
        margin-top: 46%;
    }
}