.landingPage {
    width: 100%;
    min-height: calc(100vh - 60px);
    background-color:  #99ddff;
    color: white;
}
.landingPage--text {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.landingPage--text__header {
   text-align: center;
    font-size: 70px;
    font-weight: bolder;
    text-transform: uppercase;
}
.landingPage--text__para {
    font-size: 40px;
    margin-top: 8%;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
}
