.passwordForget {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.passwordForget--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    height: 380px;
    background-color: #ffffff;
    border-radius: 2%;
}

.passwordForget--wrapper p {
    text-align: center;
    margin-top: 4%;
    font-size: 11px;
    width: 80%;
}
.passwordForget--icon {
    margin-top: 4%;
}
.passwordForget--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}