.passwordForget {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.passwordForget--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 400px;
    background-color: #ffffff;
    border-radius: 2%;
}

.passwordForget--wrapper p {
    text-align: center;
    margin-top: 4%;
    font-size: 11px;
    width: 80%;
}
.passwordForget--icon {
    margin-top: 4%;
}
.passwordForget--form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}

@media (max-width: 1190px) {
    .passwordForget--wrapper {
        width: 100%;
        background-color: transparent;
    }
}
@media (min-width: 768px) {
    .passwordForget--wrapper p {
        width: 60%;
        font-size: 13px;
    }
    .passwordForget--form {
        width: 50%;
    }
}

@media (min-width: 1760px) {
    .passwordForget--wrapper {
        width: 600px;
        height: 440px;
    }
}