
.getFromDb--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.getFromDb--item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 35px;
}
.getFromDb--item__wrapper {
    width: 300px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
}

.getFromDb--item__category {
    width: 160px;
}
.getFromDb--item__price {
    color: red;
}
.getFromDb--item__note {
    font-size: 10px;
    text-transform: lowercase;
    color: gray;
    margin-left: 4%;
    margin-bottom: 2%;
}
.getFromDb--item a {
    float: right;
    cursor: pointer;
    transform: scale(1.2);
}