
.getFromDb--list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}
.getFromDb--item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 35px;

}
.getFromDb--item__wrapper {
    width: 300px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.4);
}

.getFromDb--item__category {
    width: 160px;
}
.getFromDb--item__price {
    color: red;
}
.getFromDb--item__note {
    display: flex;
    flex-direction: row;
    font-size: 10px;
    text-transform: lowercase;
    color: gray;
    margin-left: 4%;
    margin-bottom: 2%;
}
.getFromDb--item a {
    float: right;
    cursor: pointer;
    transform: scale(1.2);
}
.loader--getFromDb {
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.getFromDb--addButton--wrapper {
   position: fixed;
    bottom: 12%;
    right: 28%;
}

.icon__trash:hover {
    animation: shake 0.92s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}