.button {
    color: white;
}
.primary {
    background-color: #ff751a;
    padding: 20px;
    border: none;
    width: 280px;
    height: 80px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 8%;
}
.primary:hover {
    transition: all 0.6s ease-in-out;
    padding: 18px;
    border: 2px solid #ff751a;
    background-color: #99ddff;
    color: #ff751a;
}
.secondary {
    margin: 20px;
    background-color: #ff751a;
    border-radius: 0;
    padding: 20px;
    font-size: 18px;
    border: none;
    text-transform: uppercase;
    width: 320px;
}
.secondary:hover {
    background-color:  #ff6600;
}
.secondary[disabled]:hover {
    background-color: #ffa366;
    cursor: not-allowed;
}
.add {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    color: white;
    background-color: #00cccc;
    border: none;
    text-align: center;
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.6);
}
.add:focus {
    outline: none;
}
.add:hover {
    background-color: #00b3b3;
    transition: all 0.7s ease-in-out;
}
.signOut {
    background-color: white;
    font-weight: bolder;
    border: none;
    transform: scale(1.6);
    color: #ff751a;

}