
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arvo', sans-serif;
}

.container {
    width: 100%;
}

.signUp--checkbox {
    display: flex;
    align-items: baseline;
}
input[type=checkbox] {
    transform: scale(1.1);
}
.sign--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    width: 100%;
}

@media (max-width: 360px) {
    .sign--form {
        min-height: 200px;
    }
}