.header {
    margin: 10px;
    font-size: 50px;
}
.signUpForm--container input {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 2%;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 16px;
}
input:focus {
    outline: none;
}
.btn__signUp {
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: cadetblue;
    color: white;
    border: none;
}
